:root {
  --color-purple: #cc32ff;
  --color-white: #f5f5f5;
}

html {
  font-family: "Roboto Mono", monospace;
  background-color: #0c0c0c;
  color: var(--color-white);
}

a {
  color: var(--color-white);
  text-decoration: none;
}

.active {
  border-bottom: 2px solid var(--color-purple);
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Practice ===================== */

.sample {
  display: flex;
  font-size: 1.2rem;
}

.sample__char {
  margin-right: 2px;
}

.sample__char--active {
  background: var(--color-purple);
}

.basic-button {
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

/* Switch Toggle ===================== */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3px;
  background-color: var(--color-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-purple);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-purple);
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
